

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<script>
  $(document).ready(function(){
    $('.sidenav').sidenav();
  })
</script>

<nav class = "blue">
  <div class = "nav-wrapper">
    <a href="/homepage" class="brand-logo">Not Enough Stacks</a>
    
    <a href="#" class="sidenav-trigger" data-target="mobile-nav">
      <i class ="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      {{#if loggedIn}}
        <li><a href = "" style = "pointer-events: none;">logged in as {{userData.user_name}}</a></li>
      {{/if}}
        <li><a href="/homepage">Home</a></li>
        <li><a href="/dashboard">Your Posts</a></li>
        <li><a href="/login">Log In</a></li>
        <li><a href = "" id = 'logout'>Logout</a>
    </ul>
  </div>
</nav>
<ul id="mobile-nav" class="sidenav">
      <li><a href="/homepage">Home</a></li>
      <li><a href="/Dashboard">Your Posts</a></li>
      <li><a href="/login">Log In</a></li>
      <li><a href = "" id = 'logout'>Logout</a>
</ul>

