
  <div class="card white darken-1 container">
    <div class="card-content black-text">
      <h5>Posted By {{User.user_name}} on {{format_date created_at}}</h5>
      <h3>{{title}}</h3>
      <p>{{post_text}}</p>
      
    </div>    
