<html>

<head>
    <title>Homepage</title>
</head>

<body>
     <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">The Tech Blog</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/homepage">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/login">Log In</a></li>
        <li><a href = "" id = 'logout'>Logout</a>
      </ul>
    </div>
  </nav>

  {{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol class="post-list">
    {{#each posts as |post|}}
    <li>
      {{> dashboard-post-info post}}      
    </li>
    {{/each}}
  </ol>
</section>
{{else}}
<center>
<section>
  <h3>You haven't posted anything yet</h3>
</section>
</center>
{{/if}}
<center>
<button type="submit" class="btn btn-large waves-effect waves-light z-depth-3 light-blue darken-3" id = "new-post"><a href="/dashboard/new">Add New Post</a></button>
</center>
    <script src="./js/logout.js"></script>
</body>

</html>