<html>

<head>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Dashboard</title>
</head>

<body>
  
     {{> nav}}

  {{#if posts.length}}
<section class = "darken-1 container">
 <h3>Your Posts</h3>
  
  <button type="button" class="btn btn-small waves-effect waves-light z-depth-3 light-blue darken-3" id = "new-post"><a href="/dashboard/new">Add New Post</a></button>
</section>

  <ol class="post-list">
    {{#each posts as |post|}}
    <div>
      {{> post-info-account post}}      
    </div>
    {{/each}}
  </ol>

{{else}}
<center>
<section>
  <h3>You haven't posted anything yet</h3>
  <button type="button" class="btn btn-small waves-effect waves-light z-depth-3 light-blue darken-3" id = "new-post"><a href="/dashboard/new">Add New Post</a></button>
</section>
</center>
{{/if}}
<center>

</center>
    <script src="./js/logout.js"></script>
</body>

</html>