<html>

<head>
    <title>Homepage</title>
</head>

<body>
    <div class="background-images" id="">

        <div class="card-content padding-100px" id="card-2">

            <center>
                <h2 class="align-center">Dashboard</select></h2>
            </center>

            <center>
                

                <center>
                    <button class="btn btn-large waves-effect waves-light btn-flat align-center" id="logout">Log
                        Out</button>
                </center>

        </div>
    </div>

    <script src="./js/logout.js"></script>
</body>

</html>