<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<body>

     {{> nav}}

<article class = "container">  
  <center>
  <h2>
    Edit Post
  </h2>
  </center>
  <form class="container">
    <h4>
      Posted by you on {{format_date post.created_at}}
  
      
    </h4>
    <div>
      <label for="post-title">Title</label>
      <input class ="input-field" name="post-title" type="text" value="{{post.title}}" />      
    </div>
    
    <div>
      <label for="post-text">Post</label>
      <textarea class = "input-field" id="post-text" name="post-text">{{post.post_text}}</textarea>
    </div>
    <center>
    <button class ="btn btn-small waves-effect waves-light z-depth-3 light-blue darken-3" type="button" id="save-changes">Save Changes</button>
    <button class = "btn btn-small waves-effect waves-light z-depth-3 light-blue darken-3" type="button" id="delete-post">Delete Post</button>
  </center>
  </form>
</article>


<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>
</body>