<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<body>

      <script>
    $(document).ready(function(){
      $('.sidenav').sidenav();
    })
  </script>

  <nav class = "blue">
    <div class = "nav-wrapper">
      <a href="#" class="brand-logo">The Tech Blog</a>
      
      <a href="#" class="sidenav-trigger" data-target="mobile-nav">
        <i class ="material-icons">menu</i>
      </a>

      <ul class="right hide-on-med-and-down">
        <li><a href="/homepage">Home</a></li>
        <li><a href="/dashboard">Your Posts</a></li>
        <li><a href="/login">Log In</a></li>
        <li><a href = "" id = 'logout'>Logout</a>
      </ul>
    </div>
  </nav>

<article class = "container">  
  <center>
  <h2>
    Edit Post
  </h2>
  </center>
  <form class="container" id = "card-2">
    <h4>
      Posted by you on {{format_date post.created_at}}
  
      
    </h4>
    <div>
      <label for="post-title">Title</label>
      <input class ="input-field" name="post-title" type="text" value="{{post.title}}" />      
    </div>
    
    <div>
      <label for="post-text">Post</label>
      <textarea class = "input-field" id="post-text" name="post-text">{{post.post_text}}</textarea>
    </div>
    <center>
    <button class ="btn btn-small waves-effect waves-light z-depth-3 light-blue darken-3" type="button" id="save-changes">Save Changes</button>
    <button class = "btn btn-small waves-effect waves-light z-depth-3 light-blue darken-3" type="button" id="delete-post">Delete Post</button>
  </center>
  </form>
</article>


<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>
</body>