<html>

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Homepage</title>
</head>

<body>
  
  <script>
    $(document).ready(function(){
      $('.sidenav').sidenav();
    })
  </script>

  <nav class = "blue">
    <div class = "nav-wrapper">
      <a href="#" class="brand-logo">The Tech Blog</a>
      
      <a href="#" class="sidenav-trigger" data-target="mobile-nav">
        <i class ="material-icons">menu</i>
      </a>

      <ul class="right hide-on-med-and-down">
        <li><a href="/homepage">Home</a></li>
        <li><a href="/Dashboard">Dashboard</a></li>
        <li><a href="/login">Log In</a></li>
        <li><a href = "" id = 'logout'>Logout</a>
      </ul>
    </div>
  </nav>

  <ul id="mobile-nav" class="sidenav">
        <li><a href="/homepage">Home</a></li>
        <li><a href="/Dashboard">Dashboard</a></li>
        <li><a href="/login">Log In</a></li>
        <li><a href = "" id = 'logout'>Logout</a>
      </ul>
  

{{#if posts.length}}

<section class = 'container'>
  <h2>All Posts</h2>
</section>

<section>
  
  <ol class="post-list">
    {{#each posts as |post|}}
    <div>
      {{> post-info post}}      
    </div>
    {{/each}}
  </ol>
</section>
{{else}}
<center>
<section>
  <h3>No posts made yet</h3>
</section>
</center>
{{/if}}
      
              

    <script src="./js/logout.js"></script>
</body>

</html>