<html>

<head>
    <title>Homepage</title>
</head>

<body>
    <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">The Tech Blog</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/homepage">Home</a></li>
        <li><a href="/Dashboard">Dashboard</a></li>
        <li><a href = "" id = 'logout'>Logout</a>
      </ul>
    </div>
  </nav>

        <div class="card-content padding-100px" id="card-2">

            

            <center>
                

                <center>
                    <button class="btn btn-large waves-effect waves-light btn-flat align-center" id="logout">Log
                        Out</button>
                </center>

        </div>
    </div>

    <script src="./js/logout.js"></script>
</body>

</html>