<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Login</title>
</head>

<body>
    

    {{> nav}}
  
    <center>
    
        
            <form class = 'container'>
                
                 <h4 class="left-align">Log In</h4>
                <div class="input-field">
                    <input type="text" id="username-input">
                    <label class="active" for="name">Username</label>
                </div>
                <div class="input-field">
                    <input type="password" id="password-input">
                    <label class="active" for="name">Password</label>
                </div>
                <center>
                    <button class="btn btn-small waves-effect waves-light z-depth-3 light-blue darken-3"
                        id='enter'>Login
                        <i id="enter" class="material-icons right">send</i>
                    </button>
                    <a href='/register' class="btn btn-small waves-effect waves-light z-depth-3 light-blue darken-3"
                        id='enter'>Register
                        <i id="enter" class="material-icons right">create</i></a>
                    </button>
                    <div id="wrong-password"></div>
                </center>
        


    
    </center>
    
    <script src="./js/login.js"></script>
</body>


</html>