<html>

<head>
    <title>Register</title>
</head>

<body>
    
    
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">The Tech Blog</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="/homepage">Home</a></li>
              <li><a href="/Dashboard">Dashboard</a></li>
              <li><a href="/login">Log In</a></li>
              <li><a href = "" id = 'logout'>Logout</a>
            </ul>
        </div>
  </nav>

        <div class="card-content padding-100px" id="card-2">

<h1 class="center-align">Register Account</h1>  

<form class="row container" id="card-container">

<div class="input-field">
<input id="username-input" placeholder="Create Username"></input><br>
<input id="password-input" type = "password" placeholder="Create Password"></input><br>
<center><button id="register" class="btn btn-large waves-effect waves-light z-depth-3 light-blue darken-3">Register
     <i class="material-icons right">edit</i>
</button>
<a href = '/' class="btn btn-large waves-effect waves-light btn-flat align-center">Back To Login</a>
</center>
</div>
</form>
</div>
</div>

<script src="./js/register.js"></script>

</body>
</html>