<html>

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Register</title>
</head>

<body>
    
    
   {{> nav}}



<h1 class="center-align">Register Account</h1>  

<form class="container">

  <div class="input-field">
    <input id="username-input" placeholder="Create Username"></input><br>
    <input id="password-input" type = "password" placeholder="Create Password"></input><br>
  <center>
    <button id="register" class="btn btn-small waves-effect waves-light z-depth-3 light-blue darken-3">Register
       <i class="material-icons right">edit</i>
    </button>
    <a href = '/' class="btn btn-small waves-effect waves-light z-depth-3 light-blue darken-3">Back To Login</a>
  </center>
  </div>
</form>


<script src="./js/register.js"></script>

</body>
</html>