<html>

<head>
    <title>Register</title>
</head>

<body>
    
    <div class="background-images" id="">

        <div class="card-content padding-100px" id="card-2">

<h1 class="center-align">Register Account</h1>  

<form class="row container" id="card-container">

<div class="input-field">

<input id="first-name-input" placeholder="First Name"></input><br>
<input id="last-name-input" placeholder="Last Name"></input><br>
<input id="email-input" placeholder="Email"></input><br>
<input id="username-input" placeholder="Create Username"></input><br>
<input id="password-input" type = "password" placeholder="Create Password"></input><br>
<center><button id="register" class="btn btn-large waves-effect waves-light z-depth-3 light-blue darken-3">Register
     <i class="material-icons right">edit</i>
</button>
<a href = '/' class="btn btn-large waves-effect waves-light btn-flat align-center">Back To Login</a>
</center>
</div>
</form>
</div>
</div>

<script src="./js/register.js"></script>

</body>
</html>