{{> nav}}
<center>
<section style = "pointer-events: none;" class = "darken-1 container">
{{> post-info post}}
</section>
</center>
{{#if loggedIn}}
<center>
<div class=" darken-1 section container">
  <div class="container">
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="button" class ='btn btn-small waves-effect waves-light z-depth-3 light-blue darken-3' id = "comment-btn">add comment</button>    
  </div>
</div>
</center>
{{/if}}


{{> comments post.Comments}}


{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}

